input
{
	display: none;
}

label{
	display: none;
}


@media all and (max-width: 937px){
	#b1:second-child #b2 {
		border-top: 2px solid rgba(0,0,0,.1);
	}
	#b1, #b2{
		border-right: none;
	}
	#wrap_h2, #banner h2{
		font-size: 45px;
	}
	#block_footer_p2, #banner p{
		font-size: 20px;
		text-align: justify;
	}

	#wrap_p{
		font-size: 25px;
	}

	.block{
		max-width: 100%;
		text-align: center;
		padding-right: 30px;
		padding-left: 30px;
	}

	#block_footer_p2{
		text-align: justify;
	}
}


@media all and (max-width: 870px){
	*{
		transition: all 0.5s;
	}

	.menu ul{
		display: none;
		transition: 0.5s;
	}
	
	.menu{
		height: 0px;
	}

	label.toggle-menu{
		position: absolute;
		padding: 0px 15px;
		display: inline;
		font-size: 25px;
		color: #f3f7ed;
		right: 10px;
	}

	#bars{
		padding: 0 10px;
	}

	input.toggle-menu:checked + label i{
		transform: rotate(90deg);
		transition: all 0.5s;		
	}

	input.toggle-menu:checked ~ #menu-list{
		background-color: #2b2b2b;
		display: flex;
		flex-flow: column;
		position: absolute;
		top: 75px;
		width: 100%;
		text-align: center;
		height: 135px;
		line-height: 1.5;
	}

@media all and (max-width: 637px){

	#blocks_wrapper{
		position: relative;
	}
	#b1, #b2
	{
		padding-left: 0px;
		padding-right:0px;
		width: 100%;
	}
	.block{
		width: 100%;
		text-align: center;
	}

	#block_footer_p2{
		text-align: justify;
	}

	#b1 h2, #b2 h2{
			text-align: center;
	}
}

@media all and (max-width: 380px){
	#banner h2, #wrap_h2{
		font-size: 35px;
	}

	#block_footer_p2, #banner p
	{
		font-size: 17px;
		line-height: 1.3;
	}

	#block_footer_p{
		font-size: 15px;
	}


	#banner p{
		line-height: 2;
	}

	#wrap_p{
		font-size: 20px;
	}

	.logo{
		left: 2px;
	}

	label.toggle-menu{
		padding: 0px 0px;
		right: 4px;
	}
}